<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Image src="~/shared/images/logo.png" class="logo"></Image>
    <ActionItem ios.position="right" android.position="right" (tap)="onTapAuth()">
      <Label class="fa auth-icon" text="&#xf2c0;"></Label>
    </ActionItem>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <NavigationMenu></NavigationMenu>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
      <GridLayout rows="*" tkMainContent>

          <ScrollView row="0" orientation="vertical" [class.invisible]="isLoading" [class.visible]="!isLoading">
            <StackLayout>
              <TopSalesBanners [banners]="topSalesBanners"></TopSalesBanners>
              <Bestsellers [bestsellers]="bestsellers"></Bestsellers>
              <FlashSales [sales]="flashSales"></FlashSales>
            </StackLayout>
          </ScrollView>

          <ActivityIndicator row="0" [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"
            horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
      </GridLayout>

</RadSideDrawer>
