<GridLayout rows="1, *, auto" columns="*"
    class="m-5" (tap)="onTap()"
    [width]="isStretched ? 'auto' : width.toString()" [height]="height.toString()">

  <Image row="0" rowSpan="3" [src]="product.image" stretch="aspectFill"></Image>

  <GridLayout row="1" columns="4*, 6*">
    <StackLayout col="0"  class="logo-area">
      <Image [src]="product.logo"></Image>
      <Label [text]="product.extra" class="extra"></Label>
    </StackLayout>
    <Label col="1"></Label>
  </GridLayout>

  <StackLayout row="2" class="information-area">
    <GridLayout columns="*, auto">
      <Label col="0" [text]="product.title" class="title"></Label>
      <Label col="1" [text]="product.timer"></Label>
    </GridLayout>
    <Label [text]="product.description"></Label>
  </StackLayout>

</GridLayout>

