// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/dark';

// Custom colors
$background-light: rgb(240, 240, 240) !default;
$main-app-color: rgb(35, 35, 35);
$product-card-text-background: black;
$compartment-name-background: black;

// Sizes
$content-font-size: 10;
$content-title-font-size: 12;

/**
 * Theme variables overrides
**/

// Colors
$background: $background-light;
$primary: $main-app-color;
$secondary: red;

// SideDrawer
$side-drawer-background: $primary;

// ActionBar
$ab-background: $primary;
$ab-color: $text-color;

//Text colors
$text-color: $white;
