// Custom common variables
@import '../../../app-variables';

$card-font-background-color: rgb(58, 58, 58);

.information-area {
  background-color: $card-font-background-color;
  font-size: $content-font-size;
}
